
.head_wrap {
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.08);
    .head_con {
        width: 1480px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 6px;
        .head_title {
            margin-right: 24px;
            font-size: 36px;
            letter-spacing: 0;
        }
    }
}